<h1>Groups#show</h1>
<p>Find me in app/views/groups/show.html.erb</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>

<h2> <%= @group.name %></h2>
<%= cl_image_tag @group.photo.key, width: 200, height: 200, crop: :fill %>

<p><%= @group.description %></p>
<p><%= @group.city %></p>

<% if @group.user_id == current_user.id %>
  <%= link_to "Delete",
    group_path(@group),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
<% end %>
